<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Post</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/home.css">
  <link rel="stylesheet" href="../stylesheets/post.css">
</head>

<body>
  <div class="mainwrapper">
    <div class="maincontent">
      <%- include('./partials/nav.ejs'); %>
       
        <div class="single-post" style="word-wrap: break-word;">
          <h2>
            <%= foundPost.title %>
          </h2>
          <div style="margin-bottom: 20px; word-wrap: break-word;">
            <%= foundPost.content %>
          </div>
          <div>Created On: <%- foundPost.date.toDateString() %></div>
          <div>By: <%= foundPost.posterName %>
          </div>
        </div>

        <form method="post" action="/posts/like" onsubmit="document.getElementById('likesubmitbtn').disabled = true; return true;">
          <input type="hidden" name="postID" value="<%=foundPost._id%>"/>
          <input id="likesubmitbtn" type="submit" value="Like this post" class="likebtn"/>
        </form>

        <div class="comment-wrapper">
          No Comments
        </div>
    </div>


  </div>
  </div>

</body>

</html>