<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>User</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/user.css">


  <% if (locals.currentUser && locals.currentUser.settings.darkMode) { %>
    <link rel="stylesheet" href="/stylesheets/darkMode.css">

    <%} %>

</head>

<body>
  <div class="nav-wrapper">
    <%- include('./partials/nav.ejs'); %>
  </div>

  <div class="mainwrapper">
    <div class="maincontent">

      <div class="user-info-wrapper">

        <div class="user-img-wrapper">
          <% if (!isFacebookUser && pfp.data ) { %>
            <img alt="pfp" style="object-fit: cover; height: 100%; width: 100%; " src="data:image/<%=pfp.contentType%>;base64,
            <%=pfp.data.toString('base64')%>" />
            <% } else { %>
              <img style="object-fit: cover; height: 100%; width: 100%; " alt="pfp" src="/images/default.jpeg" />
              <% } %>
        </div>

        <div class="user-info-content">
          <div style="font-weight: bold; font-size: 16pt;">
            <%= name %>
          </div>
          <div style="font-size: 12pt; color: gray;">
            <%= friendCount %> friends
          </div>
        </div>
      </div>


      <div class="news-wrapper">
        <% if(locals.newsArticles && locals.newsArticles.length> 0) {%>
          <div class="newstitle">News</div>
          <% for (var applePost of locals.newsArticles) { %>
            <div class="individual-news-wrapper">
              <div class="individual-news-left">
                <img class="news-img" src="<%= applePost.urlToImage %>" alt="<%= applePost.source.name %>" />
              </div>

              <div class="individual-news-right">
                <div class="individual-news-title">
                  <a target="_blank" href="<%= applePost.url %>">
                    <%= applePost.title %>
                  </a>
                </div>
                <div class="individual-news-content">
                  <%= applePost.description.substring(0, 40) %>...
                </div>
              </div>
            </div>
            <% } %>
              <% } %>


      </div>

    </div>
  </div>

</body>

</html>